.footer{
  @media (min-width: $breakpoint-tablet-lg) {
    & [for="footer-media-menu"]{
      display: none;
    }
    .hidden-in-desktop{
      display: none;
    }
  }
  @media (max-width: $breakpoint-laptop) {
    &__navigation{
      gap: 50px;
    }
  }
  @media (max-width: $breakpoint-tablet-lg) {
    &__navigation{
      nav{
        display: none;
      }
    }
    &__social{
      &-btn{
        display: none;
      }
    }
    &__copyright{
      margin-left: 45px;
    }
  }
  @media (max-width: $breakpoint-mobile) {
    &__copyright{
      margin-left:0;
      text-align: center;
    }
  }
}