//Fonts
$main-font-family:'Quicksand',sans-serif;
$secondary-font-family:'Roboto',sans-serif;
$additional-font-family:'Open Sans',sans-serif;

$main-font-size:15px;
$font-size-md:13px;
$header-link-size:12px;
$subtitle-size:10px;
$title-size:36px;
$title-sm-size:24px;
//Colors
$white-color:#ffffff;
$main-text-color:#8D96BD;
$header-link-color:#697CA6;
$header-btn-color:#D2E1FF;
$light-blue-color:#5E81FE;
$default-icon-color:#697CA6;
$dark-blue-color:#3D4F9F;
$slider-color: #D1D6E3;
$slider-active-color:#5283FF;
$border-line-color:#D8E3FE;
$secondary-background-color:#F5F8FF;
$btn-link-color:#ADB4D2;
$btn-hover-color:#4C85FF;
$red-btn-color:#FFD7D7;
//Containers
$header-container-width: 1235px;
$content-container-width: 922px;
$horizontal-offset:15px;
//Breakpoints
$breakpoint-desktop:1235px;
$breakpoint-desktop-sm:1144px;
$breakpoint-laptop:1024px;
$breakpoint-laptop-sm:922px;
$breakpoint-tablet-lg:900px;
$breakpoint-tablet:768px;
$breakpoint-mobile-lg:540px;
$breakpoint-mobile:480px;
$breakpoint-mobile-sm:380px;

$breakpoint-mobile-sm-height: 645px;


$logo-size:26px;
$header-height:78px;
$btn-transition: .3s;